$primary-color: #1C0F13;
$primary-color-transparency: #1c0f1380;

$secondary-color: #6E7E85;
$third-color: #B7CECE;
$fourth-color: #BBBAC6;
$fifth-color: #E2E2E2;

$green: #008000;
$green-hover: #006400;
$green-active: #4d5d53;

$red: #dc143c;
$red-hover: #8b0000;
$red-active: #65000b;

$disabled: #f5f5f5;